.bannerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;  
    background-position: center; 
    border-radius: var(--card-border-radius);
    h1{
        color: var(--card-bg);
        filter: drop-shadow(4px 4px 4px var(--secondary-color));
    };
    height: 20vh;
    margin-bottom: 4em;
    .banner{
        display: flex;
        padding: 2em;
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 10px;
        justify-content: center;
        object-fit: fill;
    }
}