.banner{
    display: flex;
    background-image: url("../assets/about_banner.svg");
    padding: 2em;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    object-fit: contain;
    
}