.error-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    .errors{
        color: var(--primary-color);
        .status{
        font-size: 15vw;
        }
        p{
            display: flex;
            justify-content: center;
            .statustext{
                font-size: 6vw;
            }
        }
    }
}