.ksa-footer {
    background-color:black;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3em;
    margin-top: 10%;
p{
    color: white;
}
}