.header{
display: flex;
justify-content: space-between;
padding: 3em 0 3em 0;

align-items: center;
    .kasa-banner {
        color: black;
    }
    nav{
        a{
            padding-left: 1em;
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        li{
            padding:1em;
            list-style-type: none;
            text-decoration: none;
            a{
                color: var(--secondary-color);
                text-decoration: none;

            }
            a:active{
                color: blue ;

            }
        }
    }
}