
.kasa_banner_div{
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
        .kasa_banner{
            display: flex;
            background-image: url("../assets/kasa_banner.svg");
            padding: 2em;
            background-repeat: no-repeat;
            width: 50%;
            border-radius: 10px;
            justify-content: center;
            color: var(--card-bg);
            h2{
                filter: drop-shadow(4px 4px 4px var(--secondary-color));
            }
        }
}