#logements{

    .image-container{
        position: relative;

        
        .logement_banner{
            display:block;
            width: 100%;
            height : 45vh;
            border-radius: var(--card-border-radius);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            object-fit: cover;
            position: relative;
            
        }
        .overlay-buttons {
            position: relative; /* Positioning relative to the .image-container */
            top: 10px; /* Adjust top position as needed */
            right: 10px; /* Adjust right position as needed */
            .back-button{
                position: absolute;
                top: -16em;
                left: 33px;
                height: 4em;
                width: auto;
            }
            .next-button{
                position: absolute;
                top: -16em;
                right: 33px;
                height: 4em;
                width: auto;
            }
        }
        .overlay-buttons:hover {
            cursor: pointer;
        }

        
    }
    .logements-info{
        display: flex;
        margin-top:2em;
        .part1{
            width: 50%;
            display: flex;
            align-items: stretch;
            flex-direction: column;
            justify-content: space-between;
            .title{
                color: var(--primary-color)

            }
            h1{
                margin-bottom: 0;
            }
            .location{
                display:flex;
                margin-bottom:1em;
            }
            .tags{
                display: flex;
                .tag{
                    color: white;
                    padding:0.3em 0.5em 0.3em 0.5em;
                    background-color: var(--primary-color);
                   
                    margin: 0.3em 1em 0.3em 0;
                    border-radius: var(--card-border-radius);
                    font-size: 14px;
                }
            }
        }
        .part2{
            width: 50%;
            display: flex;
            align-items: stretch;
            flex-direction: column;
            justify-content: space-between;
            .rating {
                display: flex;
                align-items: center;
            }
            .star-icon {
                width: 24px; /* Adjust size as needed */
                height: 24px;
                margin-right: 4px; /* Adjust spacing as needed */
            }
            .host{
            display: flex;
            align-items: center;
            justify-content: end;
                .host_pic{
                    display: flex;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    display: inline-block;
                    width: auto;
                    height: 4em;
                }   
                .host_name{
                    margin: 1em;
                    color: var(--primary-color);
                    width: min-content;
                    white-space: break-space;
                }
            }
            .rating{
                display: flex;
                align-items: center;
                justify-content: end;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    #logements{
        .logements-info{
            display: block;
            .part1{
                width: 100%;
                .tag{

                    padding: 0.3em 2.5em 0.3em 2.5em;
                }
            }
            .part2{
                width: 100%;
                flex-direction: row-reverse;
            }
        }
    }
}