.rating {
    display: flex;
    align-items: center;
  }
  
  .star-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    margin-right: 4px; /* Adjust spacing as needed */
  }
  .host_pic{
    display: flex;
    height: 25px;
    width: 25px;

    border-radius: 50%;
    display: inline-block;
  }
  .tags{
    display: flex;
  }
  .host_pic{
    width: auto;
    height: 4em;
  }